.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: none;
}
.singerdetail h3{
	margin:0px;
}
h3.musics{
	color:#4285f4;
}
h3.like{
	color:#34a853;
}
h3.unlike{
	color:#ea4335;
}
h3.views{
	color:#fbbc05;
}
.curplaying{
	display: none;
}
#iconplay .cplay{
	display: block;
}