<template name="leftsinger">
	<div class="sidebar col-md-2 col-sm-1 ">			
		<div class="sidebar-collapse">
			
			<div class="controls" style="padding:15px 0px;">
			  <form class="search" role="search">
				  <div class="input-group col-lg-12">
					{{> EasySearch.Input index=singerIndex attributes=inputAttributes}}
				  </div>	
			  </form>
			</div>
			
			<ul class="list-group no-bg no-borders pull-in">
				{{#EasySearch.Each index=singerIndex }}
					<li class="list-group-item clearfix">
						<a href="/playlist/{{singername}}" id="reload">
						  	<div class="pull-left w-40 m-r">
								<img src="/img/singer/{{image}}" alt="..." class="w-full img-circle">
						  	</div>
						  	<div class="clear text-ellipsis">			
								<div>{{singernamekh}}</div>
								<small class="text-muted-dk">{{singername}} <span style="color:#ccc; padding-left:2px;padding-right:15px; float:right">{{Songnum _id}} <i class="fa fa-music"></i></span></small>
						  	</div>
						 </a>
					</li>
				{{/EasySearch.Each}}
				{{#EasySearch.IfNoResults index=singerIndex }}
					<div class="text-center col-sm-12">
						<h1><i class="fa fa-frown-o fa-2x"></i></h1>
						<h3><strong>No result!</strong></h3>
						<p>Sorry! We coundn't find any result for <strong>Singer</strong></p>
					</div>
				{{/EasySearch.IfNoResults }}
			</ul>	
		</div>
		<a href="page-activity.html#" id="main-menu-min" class="full visible-md visible-lg"><i class="fa fa-angle-double-left"></i></a>
	</div>
</template>