<template name="listfavorite">
		<div style="background:#fff;margin: 0 40px 20px 80px;padding: 10px;">
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-6 col-xxs-12">
					<div class="smallstat">
						<img src="/ads/ads.gif" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
		<ul>

			<li>
				<div class="author">
					<img src="" alt="avatar" class="mp3image">
				</div>
				<div class="name" id="mp3title"></div>
				<div class="date">
				  <span id="curtimetext">00:00</span> / 
				  <span id="durtimetext">00:00</span>
				</div>
				<div class="delete"><i class="fa fa-pause" id="currentplay"></i></div>
				
				<!--<div class="message">-->
					<!-- <div id="progressBar">
						<span id="progress123"></span>
					</div> -->
					<!-- <progress id='p' max='100' value='0'><span>0</span>% played</progress> -->
					<div class="progress thin">
						<div class="progress-bar hp_range" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="p"><span></span>
						</div>
					</div>					
					{{> musicpro}}
					<img src="/img/ads.png" class="img-responsive">
				<!--</div>-->

				<!-- Modal -->
					{{> review}}
				<!-- popup comment music -->
				<audio src="" id="audio" preload="auto" tabindex="0" autoplay type="audio/mpeg"></audio>
				<ul id="playlist">
					{{#with Firstfavorite}}
						<li class="listmp">
							<a href="#" class="play pfirst" id="play" data-src="{{srcmusic}}" data-title="{{title}}" data-image="{{parthImage singerid}}"
							data-id="{{_id}}">
								<div class="name">
								<span id="iconplay"><img class="playing pull-left" src="/img/icons/player_on.gif" style="height: 15px;padding-right: 15px" data-id="{{_id}}"></span>{{title}}</div>
								<div class="date"></div>
								<div class="delete"><i class="fa fa-music"></i></div>
							</a>
						</li>
					{{/with}}
					<div id="favlist">
						{{#each Getlistfavorite}}
							{{#with Myplaylist musicId}}
								<li class="listmp">
									<a href="#" class="play" id="play" data-src="{{srcmusic}}" data-title="{{title}}" data-image="{{parthImage singerid}}"
									data-id="{{_id}}">
										<div class="name">
										<span id="iconplay"><img class="playing pull-left" src="/img/icons/player_on.gif" style="height: 15px;padding-right: 15px" data-id="{{_id}}"></span>{{title}}</div>
										<div class="date"><!-- {{Timeplay}} --></div>
										<div class="delete"><i class="fa fa-music"></i></div>
									</a>
								</li>
							{{/with}}
						{{/each}}
					</div>
				</ul>	
			</li>
		</ul>
	<script type="text/javascript">

	</script>	
</template>