<template name="rightside">
	<div class="col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Sponsored</h3>
			</div>
			<div class="panel-body">
				<img src="/ads_300x250/ads-300x250.png" width="100%"/>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Sponsored</h3>
			</div>
			<div class="panel-body">
				<!-- <img src="/ads/sz168-1.gif" width="100%"/> -->
			</div>
		</div>
		
	</div>
</template>