<template name="rightside">
	<div class="col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Advertise</h3>
			</div>
			<div class="panel-body">
				<img src="/ads_300x250/ads-300x250.png" width="100%"/>
			</div>
		</div>
		<div class="panel panel-default">
			<!-- <div class="panel-heading">
				<h3 class="panel-title">Advertise</h3>
			</div> -->
			<div class="panel-body" id="ads-right">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- rightside -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-3963205054734109"
				     data-ad-slot="1354142074"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>		
	</div>
</template>