<template name="topmenu">
	<div class="navbar" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="/img/somleng-160x50.svg" width="160" height="50"></a>
	        </div>
			<ul class="nav navbar-nav navbar-actions navbar-left">
				<li><a href="ui-buttons.html#" id="main-menu-toggle"><i class="fa fa-home"></i></a></li>
			</ul>
	        <ul class="nav navbar-nav navbar-right">
				<li><a href="ui-buttons.html#">ABOUT US</a></li>
				<li><a href="#">LOGIN</a></li>
				<li class="dropdown">
	        		<a href="/favorite" id="myfav" class="dropdown-toggle" data-toggle="dropdown">
	        			<i class="fa fa-heart"></i>
	        			{{#if currentUser}}
	        				<span class="badge">{{numfavorite}}</span>
	        			{{/if}}
	        		</a>
	        		<ul class="dropdown-menu">
						<li class="dropdown-menu-header">
							<strong>My Musics Favorite</strong>
						</li>
						{{#each GetMusicFavorite}}
							<li class="avatar">
								<a href="/favorite" id='curfav1' data-favid="{{musicId}}">
									<img src="/img/singer/{{SingerImage singerId}}">
									<div>{{Titilename musicId}}</div>
									<small>{{getAlbum musicId}} - {{getVol musicId}}</small>
									<span class="label label-info">Play Now</span>
								</a>
							</li>
						{{/each}}
						<li class="dropdown-menu-footer text-center">
							<a href="/favorite">View all Musics</a>
						</li>	
	        		</ul>
	      		</li>
				<!--<li><a href="ui-buttons.html#"><i class="fa fa-cog"></i></a></li>
				<li><a href="ui-buttons.html#"><i class="fa fa-power-off"></i></a></li>-->
				<li class="dropdown">
	        		<a href="#" class="dropdown-toggle avatar" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><!--<span class="badge">9</span>--></a>
	        		<ul class="dropdown-menu">
						<li class="dropdown-menu-header text-center">
							<strong>{{currentUser.profile.username}}</strong>
						</li>
						<li>
							<a href="ui-buttons.html#">
								<i class="fa fa-user"></i> Profile
							</a>
						</li>
						<li>
							<a href="ui-buttons.html#">
								<i class="fa fa-wrench"></i> Settings
							</a>
						</li>
						<li>
							<a href="ui-buttons.html#">
								<i class="fa fa-usd"></i> Payments <span class="label label-default">42</span>
							</a>
						</li>
						<li>
							<a href="ui-buttons.html#">
								<i class="fa fa-file"></i> Projects <span class="label label-primary">42</span>
							</a>
						</li>
						<li class="divider"></li>
						{{#if currentUser}}
							<li>
							<a href="#" id="logout"><i class="fa fa-lock"></i> Logout</a>
							</li>	
						{{else}}
							<li>
							<a href="#" id="login-form"><i class="fa fa-lock"></i> Login</a>
							</li>
						{{/if}}
	        		</ul>
	      		</li>
				<!--<li><a href="ui-buttons.html#"><i class="fa fa-bars"></i></a></li>-->
			</ul>
			<ul class="nav navbar-nav">				
					<li>
						<a href="ui-buttons.html#" class="dropdown-toggle avatar">
							<img src="" class="avatar-current">
						</a>
					</li>
					{{#if Islike}}
						<li>
							<a href="#" id="currentlike">
								<i class="fa fa-thumbs-up like" id="like"></i>
							</a>
						</li>
					{{else}}
						<li>
							<a href="#" id="currentlike">
								<i class="fa fa-thumbs-up" id="like"></i>
							</a>
						</li>
					{{/if}}
					{{#if Isunlike}}
						<li>
							<a href="#" id="currentunlike">
								<i class="fa fa-thumbs-down like" id="unlike"></i>
							</a>
						</li>
					{{else}}
						<li>
							<a href="#" id="currentunlike">
								<i class="fa fa-thumbs-down" id="unlike"></i>
							</a>
						</li>
					{{/if}}
			</ul>
			<form class="navbar-form navbar-left hidden-xs">		
					<!--<input class="form-control" placeholder="Search for Music title, Production , Albums ... " type="text" id="singerval">	
					<i class="fa fa-search"></i>-->
					<div class="input-group">
				      <input type="text" class="form-control hidden-xs" placeholder="Search music title by singer ... " id="singerval">
				      <span class="input-group-btn">
				        <button class="btn btn-secondary header-search" type="button"><i class="fa fa-search"></i></button>
				      </span>
				    </div>
					<ul class="nav" id="singerresult" style="position:absolute; left:0;right:0;background:#fff;z-index:999999;margin: -14px 60px 0px 15px">
						<!-- <li><a href="">title music</a></li> -->
					</ul>
			</form>
		</div>
	</div>

	<!-- POPUP LOGIN REGISTER -->

	<p data-toggle="modal" data-target="#login-modal" id="popup"></p>
		<!-- login poup -->
		<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
		    	<div class="modal-content">
		      		<div class="modal-header login_modal_header">
		        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h2 class="modal-title" id="myModalLabel">Login to Your Account</h2>
		      		</div>
		      		<div class="modal-body login-modal">
		      			<div class="clearfix"></div>
		      			<div id='social-icons-conatainer'>
			        		<div class='modal-body-left login'>
			        			<div class="form-group">
				              		<input type="text" id="log-email" placeholder="Enter email name" value="" class="form-control login-field">
				              		<i class="fa fa-user login-field-icon"></i>
				            	</div>
				
				            	<div class="form-group">
				            	  	<input type="password" id="log-pass" placeholder="Password" value="" class="form-control login-field">
				              		<i class="fa fa-lock login-field-icon"></i>
				            	</div>
				
				            	<a href="#" id="login" class="btn btn-black modal-login-btn">Login</a>
				            	<a href="#" class="login-link text-center">Lost your password?</a>
			        		</div>
			        		<div class='modal-body-register-left hidden'>
			        			<div class="form-group">
				              		<input type="text" id="username" placeholder="Enter User name" value="" class="form-control login-field">
				              		<i class="fa fa-user login-field-icon"></i>
				            	</div>
			        			<div class="form-group">
				              		<input type="text" id="email" placeholder="Enter email name" value="" class="form-control login-field">
				              		<i class="fa fa-envelope login-field-icon"></i>
				            	</div>
							
				            	<div class="form-group">
				            	  	<input type="password" id="password" placeholder="Password" value="" class="form-control login-field">
				              		<i class="fa fa-lock login-field-icon"></i>
				            	</div>
				
				            	<a href="#" id="register" class="btn btn-black modal-login-btn">Register</a>
			        		</div>
			        		<div class='modal-body-right'>
			        			<div class="modal-social-icons">
			        				<a href='#' class="btn btn-default facebook" id="facebook-login"> <i class="fa fa-facebook modal-icons"></i> Sign In with Facebook </a>
			        				<a href='#' class="btn btn-default google" id="google-login"> <i class="fa fa-google-plus modal-icons"></i> Sign In with Google </a>
			        				
									<div class="button-bottom hidden" id="gologin">
										<p >Already have an account? <a  href="#small-dialog" class="play-icon popup-with-zoom-anim">Login</a></p>
									</div>
									<div class="button-bottom" id="popregister">
										<p >New account? <a  href="#small-dialog" class="play-icon popup-with-zoom-anim">Signup</a></p>
									</div>
									
			        			</div> 
			        		</div>	
			        		
			        	</div>		
		        		<div class="clearfix"></div>
		        		
		        		<!--<div class="form-group modal-register-btn">
		        			<button class="btn btn-default" data-toggle="modal" data-target="#register-modal" id="popregister"> Create New User</button>
		        			<button class="btn btn-default hidden" data-toggle="modal" data-target="#register-modal" id="gologin">Go Login</button>
		        		</div>-->
		      		</div>
		      		<div class="clearfix"></div>
		   
		    	</div>
		  	</div>
		</div>
</template>